<%= link_to 'New Album', new_album_path %>

<table>
        <tr>
            <th>Album Title</th>
            <th>Artist</th>
            <th>Artwork</th>
            <th colspan="2"></th>
        </tr>
    
        <% @albums.reverse_order.each do |album| %>
            <tr>
                <td><%= album.album_title %></td>
                <td><%= album.artist %></td>
                <td><img src=<%= album.artwork %>/></td>
                <td><%= link_to 'Edit', edit_album_path(album) %></td>
                <td><%= link_to 'Delete', album_path(album), method: :delete, data: { confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
        
        
</table>